*{
  background-color: inherit;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

title{
  display: none;
}

html{
  background-color: darkblue;
}

body{
  background-color: green;
  margin: auto auto;
  box-sizing: border-box;
  border: 5px solid black;
  width: 60%;
  height: 1200px;
}

img{
  width: 400px;
  height: 300px;
  border: 10px groove yellow;
  border-radius: 100%;
  box-sizing: border-box;
  margin: 25px auto;
}

h1, h2{
  background-color: inherit;
  font-size: 25px;
  font-family: monospace;
  margin: 0px 25px;
}

h1{
  color: darkred;
}

h2{
  color: blue;
}

p{
  margin: 25px;
  box-sizing: border-box;
  background-color: inherit;
}
