*
{
  background-color: grey;
}

div{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 100%;
  align-items: center;
  align-content: center;
  text-align: center;
}

img{
  width: 400px;
  height: 300px;
  border: 10px groove darkblue;
  border-radius: 25%;
}
