*
{
  background-color: grey;
}

div{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10%;
  align-items: center;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
}

div:hover{
  background-color: darkgrey;
  cursor: crosshair;
}

img{
  width: 400px;
  height: 300px;
  border: 10px groove darkblue;
  border-radius: 25%;
}
