*{
  width: 100px;
  height: 100px;
  background-color: grey;
}

img{
  width: 400px;
  height: 300px;
}

.demo{
  width: 500px;
  height: 500px;
  background-color: orange;
  font-size: 200px;
  border-radius: 10px;
  border-color: black;

}
